.c {
    height: 100vh;
}
.c-bg {
    width: 20px;
    height: 100%;
    background-color: pink;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}
.c-left{
    flex:1;
    
}
.c-right{
    flex:1;
}